li.menu__item(data-index=index)
    span.menu__day(
        data-action='pick'
    )= item.day
        span &#160;-&#160;
    a.menu__link(
        href=item.href
        data-action='pick'
    )= item.anchor
    button.close.menu__remove-button(
        data-action='remove'
    )= '[X]'